html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Основные цвета фона страниц */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --hero-and-footer-background-color: #2F303A;
    --portfolio-secondary-buttons-color: #F5F4FA;
    --advantage-icons: #212121;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

img {
    display: block;
}

a {
    outline: none;
}

button {
    outline: none;
}

.list {
    text-decoration: none;
    list-style: none;
    margin: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    margin: 0;
}

.btn {
    border: 0 solid transparent;
}

/* Header */
.page-header {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--acent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-top {
    margin-right: 93px;
}

.logo-color {
    color: #000000;
}

.site-nav__link {
    position: relative;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__links,
.mail-to-portfolio {
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts__links:hover,
.contacts__links:focus {
    color: var(--acent-color);
}

.site-nav {
    display: flex;
    padding-left: 0;
}

.site-nav .site-nav__item + .site-nav__item{
    margin-left: 50px;
}

.site-nav .site-nav__item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts {
    display: flex;
    margin-left: auto;
    padding-left: 0;
}

.contacts .contacts__items + .contacts__items {
    margin-left: 30px;
}

.contacts .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts__icons {
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}

.current {
    color: var(--acent-color);
}

.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--acent-color);
}

/* Hero */
.hero {
    background-color: var(--hero-and-footer-background-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto;
    width: 1600px;
    height: 600px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 209px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-bottom: 21px;
    margin-right: auto;
}

.hero__button {
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    padding: 10px 32px;

    color: #ffffff;
    background-color: var(--acent-color);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition-property: color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    color: var(--title-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Competencies */
.competencies__title,
.team-members__title,
.clients__title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.advantages {
    padding: 94px 0px;
}

.advantages__list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.advantages-card {
    width: 270px;
}

.advantages-card + .advantages-card {
    margin-left: 30px;
}

.advantages-card__background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
}

.advantages-card__background + .advantages-card__background {
    margin-left: 30px
}

.advantages-card__icon {
    fill: var(--advantage-icons);
}

.advantages-card__title {
    margin-bottom: 10px;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-card__description {
    line-height: 1.71;
}

.competencies {
    padding-bottom: 94px;
}

.competencies__title {
    margin-bottom: 50px;
}

.competencies__list {
    display: flex;
    padding-left: 0;
}

.competencies__card + .competencies__card {
    margin-left: 30px;
}

.competencies__card {
    position: relative;
    text-align: center;
}

.competencies__description {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    
    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.19;
}

.team-members {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-members__title {
    margin-bottom: 50px;
}

.team-members__list {
    display: flex;
    padding-left: 0;
}

.team-members__card {
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 4px 4px;
}

.team-members__card + .team-members__card {
    margin-left: 30px;
}

.team-members__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-members__names {
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-members__position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.social-accounts {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.social-accounts .social-accounts__item + .social-accounts__item {
    margin-left: 10px;
}

.social-accounts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #AFB1B8;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-accounts__link .social-accounts__icon {
    fill: currentColor;
}

.social-accounts__link:hover,
.social-accounts__link:focus {
    background-color: var(--acent-color);
    color: #ffffff;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.clients__list .clients__name + .clients__name {
    margin-left: 30px;
}

.clients__name {
    display: flex;
    margin: 0;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo {
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    color: var(--acent-color);
    border: 1px solid var(--acent-color);
}

/* Footer */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-and-footer-background-color);
}

/* Не використано у процесі рефакторингу */
.logo-footer{
    color: #ffffff
}

.logo-bottom {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-contacts {
    color: #ffffff;
    font-style: normal;
    line-height: 1.71;
}

.footer-contacts__address {
    margin-bottom: 9px;
}

.footer-contacts__links {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__item + .footer-contacts__item {
    margin-top: 9px;
}

.footer-contacts__links:hover,
.footer-contacts__links:focus {
    color: var(--acent-color);
}

.footer-contacts__list {
    padding-left: 0;
}

.page-footer__content {
    display: flex;
    align-items: baseline;
}
.page-footer__contacts {
    display: inline-block;
}

.social-networks {
    display: inline-block;
    margin-left: 70px;
}

.social-networks__title {
    display: inline-block;
    height: 16px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-networks__list {
    display: flex;
    padding-left: 0;
}

.social-networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    color: #ffffff;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__icon {
    fill: currentColor;
}

.social-networks__link:hover,
.social-networks__link:focus {
    background-color: var(--acent-color);
}

.social-networks__item + .social-networks__item {
    margin-left: 10px;
}

.subscribe {
    margin-left: 93px;
}

.input-form__container {
    display: flex;
    width: 570px;
}

.input-form__email {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    background-color: var(--hero-and-footer-background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form__email:hover,
.input-form__email:focus {
    border: 1px solid var(--acent-color);
    outline: none;
}

.input-form__button {
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
    
    cursor: pointer;

    border: 0 solid transparent;
    border-radius: 4px;
    background-color: var(--acent-color);

    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));

    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form__button:hover,
.input-form__button:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input-form__label {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.input-form__icon {
    margin-left: 10px;
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 100;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px rgba(0, 0, 0, 0.2);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
    fill: #000000;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
    fill: var(--acent-color);
}

.modal__button:hover,
.modal__button:focus {
    outline: none;
}

.modal__title {
    margin-bottom: 12px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.personal-data {
    display: inline-block;
    width: 448px;
}

.personal-data__type {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.personal-data__input {
    display: block;
    flex-direction: column;
    position: relative;

    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    width: 448px;
}

.personal-data__comments {
    display: block;
    flex-direction: column;
    position: relative;

    margin: 0;
    padding: 0;

    margin-bottom: 20px;
    width: 448px;
}

.personal-data__area {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__placeholder {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__placeholder::placeholder {
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.personal-data__area:hover,
.personal-data__area:focus,
.personal-data__placeholder:hover,
.personal-data__placeholder:focus {
    border: 1px solid var(--acent-color);
    outline: none;
}

.personal-data__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: #212121;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__area:hover + .personal-data__icon,
.personal-data__area:focus + .personal-data__icon {
    fill: var(--acent-color);
}

.personal-data__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 24px;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));

    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__checkbox:hover,
.personal-data__checkbox:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.personal-data__checkbox--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.personal-data__ckeck-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;

    background-image: url(../images/Vector-check.svg);
}

.personal-data__checkbox--hidden:focus + .personal-data__ckeck-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    
    background-image: url(../images/Vector-check-focus.svg);

    /* transition-property: background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.personal-data__checkbox--hidden:checked + .personal-data__ckeck-icon {
    width: 16px;
    height: 15px;
    
    border: 2px solid var(--acent-color);
    border-radius: 2px;
    background-color: var(--acent-color);
    background-image: url(../images/Vector-check-done.svg);
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.personal-data__description {
    margin-left: 8.38px;
    color: var(--primary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.personal-data__conditions {
    color: var(--acent-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.personal-data__button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
   
    padding: 10px 55px;

    border: 0 solid transparent;
    border-radius: 4px;
    background-color: var(--acent-color);

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

    transition-property: filter;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__button:hover,
.personal-data__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
}

.personal-data__label {
    font-size: 16;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/* .modal-close:hover,
.modal-close:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */


/* Portfolio page */
.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery__filters {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 56px;
}

.gallery__categories + .gallery__categories {
    margin-left: 8px;
}

.gallery__button {
    display: block;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    cursor: pointer;
    font-family: inherit;

    border-radius: 4px;
    color: #212121;
    background-color: var(--portfolio-secondary-buttons-color);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));

    transition-property: color, background-color, filter;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.general {
    color: #FFFFFF;
    background-color: var(--acent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery__buttonr:hover,
.gallery__button:focus {
    color: #ffffff;
    background-color: var(--acent-color);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery__list {
    display:flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.gallery__item {
    position: relative;
    /* overflow: hidden; */
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.gallery__item:nth-child(3n) {
    margin-right: 0;
}

.gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-card {
    display: block;
    text-decoration: none;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 0px 0px rgba(0, 0, 0, 0.16);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay__description,
.project-card:focus .overlay__description {
    transform: translateY(0%);
}

.project-card__description {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.project-card__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-card__type {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}